{$APP_DOMAIN} {
    encode zstd gzip
    reverse_proxy aduan-hub:8080
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        -Server
    }
    log {
        output stdout
        format json
    }
}
