server {
    listen 192.168.12.68:18083;
    server_name _;

    allow 192.168.12.0/22;
    deny all;

    client_max_body_size 25m;

    location / {
        proxy_pass http://100.103.199.63:18083;
        proxy_http_version 1.1;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_connect_timeout 10s;
        proxy_read_timeout 120s;
        proxy_send_timeout 120s;
    }
}
